@import "tailwindcss";

@theme {
  --color-khaki-light: #F7F4EF;
  --color-khaki-accent: #E6DFD3;
  --color-pink-pastel: #F8D7DA;
  --color-pink-accent: #E8A5B8;
  --color-pink-dark: #D88EA3;
  --color-textDark: #5A4E4D;
}